.container-aside {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    background-color: black;
    color: goldenrod;
    width: 100%;
    height: 97%;
}